node_modules
dist
coverage
npm-debug.log
Dockerfile
docker-compose.yml
.env
.env.*
.git
.gitignore
.vscode
.idea
*.md
test
src/**/*.spec.ts
src/**/*.test.ts
src/**/*.e2e-spec.ts
scripts/
prisma/migrations/
prisma/seed.ts
