{{!-- platform-invite.hbs --}}
<p>Hello,</p>
<p>You have been invited to join our platform. Please sign up to get started and join workspaces.</p>
<p>Click <a href="{{appUrl}}">here</a> to sign up.</p>
<p>Invited by: {{inviterName}}</p> 